body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    background: linear-gradient(to right, #caf0f8, #90e0ef);
}
.container{
    margin: 0 15px;
}
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.form-box.active{
    display: block;
}
h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
input, select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    margin-left: -10px;
}
button{
    width: 100%;
    padding: 12px;
    background-color: #00b4db;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: ease-in-out;
}
button:hover{
    background: #0077b6 ;

}
p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;

}
p a{
    color: #7494ec;
    text-decoration: none;

}
p a:hover{
    text-decoration: underline;
}